{% extends 'users/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/Home.css' %}">
    <div class="container">
            <div class="row g-0">
                <div class="col-sm-6 col-md-8" id="header-text">
                  <h1 id="header-h1">Smart Home <br>Swithces  </h1>
                  <p id="header-paragraph"><br></p>
                  <!-- <a class="btn" style="color: white; background-color: #fd5e14;"type="submit" id="body-link-row">Discover More</a> -->
                </div>

                <div class="col-6 col-md-4" id="header-image"><img src="images/in-liquid-slide-2.svg " alt=""></div>
              </div>
    </div> 




<div class="all_switches">
  

  <div>
    <label class="switch">
      <p>Light</p>
      <input type="checkbox" id="Light">
      <span class="slider"></span>
    </label>
  </div>

  <div>
    <label class="switch">
      <p>Pump</p>
      <input type="checkbox" id="Pump">
      <span class="slider"></span>
    </label>
  </div>


  <div>
    <label class="switch">
      <p>Extension</p>
      <input type="checkbox" id="Extension">
      <span class="slider"></span>
    </label>
  </div>
</div>



<script>



const apiSwitch = document.getElementById("Light");
const apiUrl = "https://blynk.cloud/external/api/get?token=VKZdaEOgp0LgitiUwy7srZHp5t5gBUni&v0";

function updateSwitch() {
  fetch(apiUrl)
    .then(response => {
      if (!response.ok) {
        throw new Error("Network response was not ok");
      }
      return response.json();
    })
    .then(data => {
      
      if (data === 1) {
        apiSwitch.checked = true;
      } else {
        apiSwitch.checked = false;
      }
      // checker 
      // console.log(data, apiSwitch.checked);
    })
    .catch(error => console.error("Error fetching data:", error));
}
// Update the switch state when the page loads
updateSwitch();
// Add event listener to handle switch changes
apiSwitch.addEventListener("change", function() {
  const apiUrlOn = "https://sgp1.blynk.cloud/external/api/update?token=VKZdaEOgp0LgitiUwy7srZHp5t5gBUni&v0=1";
  const apiUrlOff = "https://sgp1.blynk.cloud/external/api/update?token=VKZdaEOgp0LgitiUwy7srZHp5t5gBUni&v0=0";
  const apiUrl = this.checked ? apiUrlOn : apiUrlOff;
  fetch(apiUrl)
    .then(response => {
      if (!response.ok) {
        throw new Error("Network response was not ok");
      }
      return response.json();
    })
    .then(data => console.log(data))
    .catch(error => console.error("Error fetching data:", error));
});

// Set up a polling interval to update the switch state every 5 seconds
setInterval(updateSwitch, 3000);











const apiSwitch1 = document.getElementById("Pump");
const apiUrl1 = "https://blynk.cloud/external/api/get?token=VKZdaEOgp0LgitiUwy7srZHp5t5gBUni&v1";

function updateSwitch1() {
  fetch(apiUrl1)
    .then(response => {
      if (!response.ok) {
        throw new Error("Network response was not ok");
      }
      return response.json();
    })
    .then(data => {
      
      if (data === 1) {
        apiSwitch1.checked = true;
      } else {
        apiSwitch1.checked = false;
      }
      // checker 
      // console.log(data, apiSwitch.checked);
    })
    .catch(error => console.error("Error fetching data:", error));
}
// Update the switch state when the page loads
updateSwitch1();
// Add event listener to handle switch changes
apiSwitch1.addEventListener("change", function() {
  const apiUrlOn = "https://sgp1.blynk.cloud/external/api/update?token=VKZdaEOgp0LgitiUwy7srZHp5t5gBUni&v1=1";
  const apiUrlOff = "https://sgp1.blynk.cloud/external/api/update?token=VKZdaEOgp0LgitiUwy7srZHp5t5gBUni&v1=0";
  const apiUrl1 = this.checked ? apiUrlOn : apiUrlOff;
  fetch(apiUrl1)
    .then(response => {
      if (!response.ok) {
        throw new Error("Network response was not ok");
      }
      return response.json();
    })
    .then(data => console.log(data))
    .catch(error => console.error("Error fetching data:", error));
});

// Set up a polling interval to update the switch state every 5 seconds
setInterval(updateSwitch1, 3000);







const apiSwitch2 = document.getElementById("Extension");
const apiUrl2 = "https://blynk.cloud/external/api/get?token=VKZdaEOgp0LgitiUwy7srZHp5t5gBUni&v2";

function updateSwitch2() {
  fetch(apiUrl2)
    .then(response => {
      if (!response.ok) {
        throw new Error("Network response was not ok");
      }
      return response.json();
    })
    .then(data => {
      
      if (data === 1) {
        apiSwitch2.checked = true;
      } else {
        apiSwitch2.checked = false;
      }
      // checker 
      // console.log(data, apiSwitch.checked);
    })
    .catch(error => console.error("Error fetching data:", error));
}
// Update the switch state when the page loads
updateSwitch2();
// Add event listener to handle switch changes
apiSwitch2.addEventListener("change", function() {
  const apiUrlOn = "https://sgp1.blynk.cloud/external/api/update?token=VKZdaEOgp0LgitiUwy7srZHp5t5gBUni&v2=1";
  const apiUrlOff = "https://sgp1.blynk.cloud/external/api/update?token=VKZdaEOgp0LgitiUwy7srZHp5t5gBUni&v2=0";
  const apiUrl1 = this.checked ? apiUrlOn : apiUrlOff;
  fetch(apiUrl1)
    .then(response => {
      if (!response.ok) {
        throw new Error("Network response was not ok");
      }
      return response.json();
    })
    .then(data => console.log(data))
    .catch(error => console.error("Error fetching data:", error));
});

// Set up a polling interval to update the switch state every 5 seconds
setInterval(updateSwitch2, 3000);
</script>








<style>
  input {
    -webkit-appearance: none;
    position: relative;
    width: 50px;
    height: 30px;
    border-radius: 25px;
    background-color: #ccc;
    transition: background .3s;
    outline: none;
    cursor: pointer;
  }


  input::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 1.25rem;
    width: 1.25rem;
    background-color: white;
    transition: left .3s;
  }

  input:checked {
    background-color: #ff8248;
  }

  input {
    cursor: pointer;
    margin: 1rem auto;
    position: relative;
    width: 50px;
    height: 30px;
    border-radius: 25px;
    outline: none;
    background-color: #ccc;
    -webkit-appearance: none;
  }

  input::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 1.25rem;
    width: 1.25rem;
    background-color: white;
    transition: left .3s;
  }

  input:checked {
    background-color: #ff8248;
  }

  input:checked::after {
    left: 70%;
  }



  .all_switches div{
    display: inline;
    margin-right: 50px;
  }


  .all_switches{
    margin-left: 130px;
  }
</style>






<p>Light</p>
<button id="light-on" onclick="toggleLight('on')">Light On</button>
<button id="light-off" onclick="toggleLight('off')">Light Off</button>
<script>
  function toggleLight(state) {
        var xhr = new XMLHttpRequest();
        var url = '/api/light/' + state;
        if (state === 'on') {
          url = 'https://sgp1.blynk.cloud/external/api/update?token=VKZdaEOgp0LgitiUwy7srZHp5t5gBUni&v0=1';
        } else if (state === 'off') {
          url = 'https://sgp1.blynk.cloud/external/api/update?token=VKZdaEOgp0LgitiUwy7srZHp5t5gBUni&v0=0';
        }
        xhr.open('GET', url, true);
        xhr.send();
      }
</script>



<p>Pump</p>
<button id="light-on" onclick="togglePump('on')">Pump On</button>
<button id="light-off" onclick="togglePump('off')">Pump Off</button>
<script>
  function togglePump(state) {
        var xhr = new XMLHttpRequest();
        var url = '/api/pump/' + state;
        if (state === 'on') {
          url = 'https://sgp1.blynk.cloud/external/api/update?token=VKZdaEOgp0LgitiUwy7srZHp5t5gBUni&v1=1';
        } else if (state === 'off') {
          url = 'https://sgp1.blynk.cloud/external/api/update?token=VKZdaEOgp0LgitiUwy7srZHp5t5gBUni&v1=0';
        }
        xhr.open('GET', url, true);
        xhr.send();
      }
</script>


<p>Extension</p>
<button id="light-on" onclick="toggleExtension('on')">Extension On</button>
<button id="light-off" onclick="toggleExtension('off')">Extension Off</button>
<script>
  function toggleExtension(state) {
        var xhr = new XMLHttpRequest();
        var url = '/api/extension/' + state;
        if (state === 'on') {
          url = 'https://sgp1.blynk.cloud/external/api/update?token=VKZdaEOgp0LgitiUwy7srZHp5t5gBUni&v2=1';
        } else if (state === 'off') {
          url = 'https://sgp1.blynk.cloud/external/api/update?token=VKZdaEOgp0LgitiUwy7srZHp5t5gBUni&v2=0';
        }
        xhr.open('GET', url, true);
        xhr.send();
      }
</script>


























{% endblock content %}